<template>
    <aside class="global-footer">
        <small class="copyright">Copyright © <a href="https://opap.jp/contributors">OPAP-JP contributors</a>. </small>
    </aside>
</template>

<style lang="stylus">
.global-footer {
    text-align: center;
    border-top: solid 1px #DDD;
    margin-top: 1em;
    padding-top: 1rem;
    
    a {
        color: glay;
        display: inline-block;
        margin: 0 0.5em;
    }
}

</style>
