@charset "utf-8";

@import "fonts";

@page {
    size: A5;
    //marks: crop cross;
    bleed: 3mm;
    @top-left {
        content: string(Chapter);
    }
    @bottom-center {
        content: counter(page);
    }
}



body {
    font-family: 'Noto Serif JP', serif;
    font-size: 14px;
}

h1, h2, h3, h4 {
    font-family: 'Noto Sans JP', sans-serif;
}
p {
    text-indent: 1rem;
}



section {
    break-before: page;
    break-after: page;
}

.chapter-index > h1 { string-set: Chapter self; }
