<template>
    <section class="section" :class="$page.frontmatter.sectionClass">
        <header class="section-header">
            <h1 class="title">{{ $page.title }}</h1>
            <p class="author">{{ $frontmatter.author }}</p>
            <p class="summary"><Content slot-key="summary"/></p>
        </header>
        <main class="section-content" :class="$page.frontmatter.contentClass">
            <Content/>
        </main>
    </section>
</template>
